./server/initial/build/
./server/initial/build/**
./server/initial/bin/
./server/initial/bin/**

./API/jar/
./API/jar/**
./API/target/
./API/target/**

./API/.idea/
./API/.idea/*
./API/.idea/**

./server/.idea/
./server/.idea/*
./server/.idea/**

./server/


*\.class
